
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @user.fullname %></h5>
      <p class="card-text"><%= @user.bio %></p>
      <p class="card-text">I'm <%= @user.age %>years old and i'm enjoying my life!</p>
      <a href="#" class="btn btn-primary"> My Photos</a>
    </div>
  </div>